*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-weight: bold;
  font-size: 25px;
  margin: 1.5rem;
}

html, body{
  background-color: #282c34;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.todoInputDiv{
  width: 50em;
  height: 7em;
}

.todoInputForm{
  /* margin: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoInput{
  flex: 1;
  margin-right: 5px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.addBtn{
  background-color: #339af0;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  border: none;
  outline:  none;
  cursor: pointer;
}

.addBtn:hover{
  color: #339af0;
  background-color: #fff;;
}


.todoTasksDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50em;
  height: 7em;
}

.todoTask{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40em;
  height: 7em;
  margin: 0.3em;
}

.todoTaskList{
  flex: 1;
  list-style: none;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.completedBtn{
  margin: 0 0.5em;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: green;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.deleteBtn{
  margin: 0 0.5em;
  margin-left: 0;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: red;
  color: #fff;
}

.completedBtn:hover{
  color: green;
  background-color: #fff;

}

.deleteBtn:hover{
  color: red;
  background-color: #fff;
}

.todoTaskList.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.fas{
  pointer-events: none;
}